
html{
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::after,
*::before{
    margin: inherit;
    box-sizing: inherit;
    font-size: inherit;
}

li{
    list-style: none;
}
